{templateType e2221\BootstrapPanels\BootstrapPanelsTemplate}

<div n:snippet="panels" class="bootstrap-panels">
    {foreach $templates as $template}
        {import $template}
    {/foreach}
    {include #body}
</div>